/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
}

body{
	background-color:#f5f5f5;
}
header{
	background-color:#011e29;
	color:white;
	text-align:center;
	padding:10px;
}

.container{
	display:flex;
	justify-content:space-evenly;
	margin-top:10px;
}

h3{
	margin-bottom:20px;
}
.latest-news-section{
	width:20%;
	background-color:white;
	padding:20px;
	text-align:center;
	height:100px;
		border-radius:10px;
}

.article-section{
	width:40%;
	background-color:white;
	padding:20px;
	text-align:center;
	height:150px;
	border-radius:10px;
}

.pictorial-news-section{
		border-radius:10px;
	width:20%;
	background-color:white;
	padding:20px;
	text-align:center;
	height:350px;
}

.pictorial-news-section>img{
	width:100%;
}